/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/app/livewire-tmp/ch5G5yLGvFOJJ8yk2u8uTrahHJoVfv-metaRWFydGggaW4gYSBGaXJlLmpwZw==-.jpg
storage/app/livewire-tmp/vi4JMsk1zLp6PoHPiFgp7LsFl1OS4Z-metaRmlyZS1IRC1XYWxscGFwZXJzLTE2LmpwZw==-.jpg
storage/app/public/t1Q3KcrU548cjA8CNdruba1Xw2HWdRN0GwIuNdii.jpg
*.jpg
storage/app/livewire-tmp/smKBjQ0WoEsduSS0DdhD6jh6FtyC8a-metaMjA1MTMyLXNwb25nZWJvYi1zcXVhcmUtcGFudHMtc3BvbmdlYm9iLmdpZg==-.gif
storage/app/public/3hkI9HTQYzxMYFpKXVMrmHXL1fvD4HMBfMjPS2z4.gif
*.png
*.pdf
storage/app/livewire-tmp/H7OLJQUxLVMIX2c6ofim8BIurC7Ue4-metaR0tKLnBuZw==-.png
storage/app/livewire-tmp/kCd6QA8MJuBzqUF8ZOdDxph4lhWEH9-metaQ29weSBvZiBVbnRpdGxlZCBEaWFncmFtLmRyYXdpby5wZGY=-.pdf
storage/app/livewire-tmp/kcTflQBFoIo8YVJSsbGBt3yaJIywDQ-metaR0tKLnBuZw==-.png
