
/* ############# ICON TABLE ################## */
.lightblue-custom{
    color: #1f88c7;
}

.custom-blue {
    color: blue;
}
.custom-blue:hover {
    color: lightblue;
}

.custom-green {
    color: green;
}
.custom-green:hover {
    color: lightgreen;
}

.custom-red {
    color: red;
}
.custom-red:hover {
    color: lightcoral;
}

.margin-right-custom {
    margin-right: 10px;
}

.margin-left-custom {
    margin-left: 10px;
}

.margin-both-custom {
    margin-right: 10px;
    margin-left: 10px;
}

/* ############# BUTTON ################## */

.button-table {
    margin-bottom: 20px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #1f88c7;
	background:linear-gradient(to bottom, #3aadff 5%, #1f88c7 100%);
	background-color:#1f88c7;
	border-radius:6px;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1f88c7 5%, #3aadff 100%);
	background-color:#1f88c7;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ############# DROPDOWN ################## */

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 12px 17px;
        outline: 0;
        border: 1px solid #c4c3c3;
        border-radius: 5px;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ffffff;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}


/* ############# PAGINATION ################## */

.pagination-custom {
    margin: 10px 15px 10px 15px;
}

/* ############# SEARCH ################## */

.search-custom {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #C0C0C0;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    margin: 3px 0px 0px 0px;
}

.search-custom:focus {
    outline-color: #1f88c7;
}