
/* ############# ICON TABLE ################## */
.lightblue-custom{
    color: #1f88c7;
}

.custom-blue {
    color: blue;
}
.custom-blue:hover {
    color: lightblue;
}

.custom-green {
    color: green;
}
.custom-green:hover {
    color: lightgreen;
}

.custom-red {
    color: red;
}
.custom-red:hover {
    color: lightcoral;
}

.custom-grey {
    color: #9D9D9D;
}

.margin-right-custom {
    margin-right: 10px;
}

.margin-left-custom {
    margin-left: 10px;
}

.margin-both-custom {
    margin-right: 10px;
    margin-left: 10px;
}

/* ############# TITLE ################## */

.custom-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #005c9e;
    font-weight: 1000;
}

/* ############# DANGER ################## */

.custom-danger {
    color: red;
    font-size: 50px;
}

.custom-danger:hover {
    color: #FF5959;
}

/* ############# TABLE ################## */

.custom-table td {
    padding: 0 0 10px 10px;
}

.custom-table-view td {
    padding: 0 10px 10px 0;
}

/* ############# GIF LOADER ################## */

.gif-loader {
    max-width: 5%;
    max-height: 5%;
    display: inline-block;
}

/* ############# LOADER ################## */

.loader {
    border: 5px solid #E5E5E5;
    border-radius: 50%;
    border-top: 5px solid #1f88c7;
    border-bottom: 5px solid #1f88c7;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ############# FONT SHOW HIDE ################## */

.custom-font {
    font-size: 13px;
}

.custom-show-hide {
    text-align: right;
    margin-top: 5px;
    margin-right: 3px;
}

/* ############# BUTTON ################## */

.button-table {
    margin-bottom: 20px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #1f88c7;
	background:linear-gradient(to bottom, #3aadff 5%, #1f88c7 100%);
	background-color:#1f88c7;
	border-radius:6px;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1f88c7;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1f88c7 5%, #3aadff 100%);
	background-color:#1f88c7;
}
.myButton:active {
	position:relative;
	top:1px;
}

                /* ************ GREY ************ */

.myButtonGrey {
	box-shadow:inset 0px 1px 0px 0px #9D9D9D;
	background:linear-gradient(to bottom, #D5D5D5 5%, #9D9D9D 100%);
	background-color:#9D9D9D;
	border-radius:6px;
	border:1px solid #626262;
	display:inline-block;
	cursor:pointer;
	color:#626262;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9D9D9D;
}

.remove-button{
    color: red;
    margin-bottom: 20px;
}


.myButton-addRepoB {
	background:linear-gradient(to #fff, #fff 5%, #fff 100%);
	background-color:#fff;
	border-radius:6px;
	border:2px solid #1f88c7;
	display:inline-block;
	cursor:pointer;
	color:#1f88c7;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
}
.myButton-addRepoB:hover {
	background:linear-gradient(to bottom, #1f88c7 5%, #3aadff 100%);
	background-color:#1f88c7;
    color : #fff;
}
.myButton-addRepoB:active {
	position:relative;
	top:1px;
}
            /* ************ GREY ************ */
.myButton-addRepoB-grey {
	background:linear-gradient(to #fff, #fff 5%, #fff 100%);
	background-color:#fff;
	border-radius:6px;
	border:2px solid #9D9D9D;
	display:inline-block;
	cursor:pointer;
	color:#9D9D9D;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
}

/* ############# DROPDOWN ################## */

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 12px 17px;
        outline: 0;
        border: 1px solid #c4c3c3;
        border-radius: 5px;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ffffff;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}


/* ############# PAGINATION ################## */

.pagination-custom {
    margin: 10px 15px 10px 15px;
}

/* ############# SEARCH ################## */

.search-custom {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #C0C0C0;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    margin: 3px 0px 0px 0px;
}

.search-custom:focus {
    outline-color: #1f88c7;
}